# port for http server
HTTP_PORT=8080

# postgresql database
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# url to connect to postgresql database
PG_URL=postgres://{user}:{password}@{host}:{port}/{database}

# Application name, not use yet
APP_NAME=
APP_DONATE=

LOG_LEVEL=debug
